@font-face {
  font-family: 'AlimamaDongFangDaKai';
  src: url('../static/font/AlimamaDongFangDaKai/AlimamaDongFangDaKai-Regular.woff2') format('woff2'),
       url('../static/font/AlimamaDongFangDaKai/AlimamaDongFangDaKai-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AlimamaDaoLiTi';
  src: url('../static/font/AlimamaDaoLiTi/AlimamaDaoLiTi.woff2') format('woff2'),
       url('../static/font/AlimamaDaoLiTi/AlimamaDaoLiTi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

